
<div class="container">
	<h1 id="welcome">Welcome to the community of Swappaholics!</h1>
</div>

<!-- JUMBOTRON -->
<div class="container">
	<div class="jumbotron">
	  <h1>HOW IT WORKS</h1>
	  <p>The 4T's</p>
	  	<ul>
	  		<li>Post TRASH</li>
	  		<li>Find TREASURE</li>
	  		<li>Barter TRADE</li>
	  		<li>Enjoy TRIUMPH</li>
	  	</ul>
	  <button class="btn btn-primary btn-lg" id="user_action1"><%= link_to "Sign Up", new_user_registration_path %></button>
		<%= image_tag "interact2.png" %>
	</div>
</div>

<div id="button_bar">
	<a href="#" class="btn btn-primary">Clothing</a>
	<a href="#" class="btn btn-success">Electronics</a>
	<a href="#" class="btn btn-info">Home & Garden</a>
	<a href="#" class="btn btn-warning">Automotive</a>
	<a href="#" class="btn btn-danger">Everything Else</a>
</div>

<!-- MARKETPLACE -->
	<div class="container">
	<%= render partial: 'layouts/marketplace' %>

	</div>


