  <div id='slideshowContainer'>
  <div class="cn-bar">
                <div class="cn-nav">
                    <a href="#" class="cn-nav-prev">
                        <span>Previous</span>
                            <div style="background-image:url(${prevSource});"></div> 
                    </a>
                    <a href="#" class="cn-nav-next">
                        <span>Next</span>
                        <div style="background-image:url(${nextSource});"></div>
                    </a>
                </div><!-- cn-nav -->
                <div class="cn-nav-content">
                    <div class="cn-nav-content-prev">
                        <span>Previous Trade</span>
                        <h3>${prevTitle}</h3>
                    </div>
                    <div class="cn-nav-content-current">
                        <span>Recent Trade</span>
                        <h2>${currentTitle}</h2>
                    </div>
                    <div class="cn-nav-content-next">
                        <span>Next Trade</span>
                        <h3>${nextTitle}</h3>
                    </div>
                </div><!-- cn-nav-content -->
            </div><!-- cn-bar -->


        <div class="container">
            <div class="wrapper">
                <div id="cn-slideshow" class="cn-slideshow">
                    <div class="cn-images">
                         <img src="/assets/1.jpg" title="Beautiful Scenery 1" data-thumb="assets/1.jpg"/>
                        <img src="assets/1.jpg" alt="image02" title="Beautiful Scenery 2" data-thumb="assets/2.jpg"/>
                        <img src="images/3.jpg" alt="image03" title="Beautiful Scenery 3" data-thumb="images/thumbs/3.jpg"/>
                        <img src="images/large/4.jpg" alt="image04" title="Beautiful Scenery 4" data-thumb="images/thumbs/4.jpg"/>
                    </div><!-- cn-images -->
                </div><!-- cn-slideshow -->
            </div>
        </div>
    </div>
