
<div class="container">
	<h1 id="welcome">Welcome to the community of Swappaholics!</h1>
</div>

<!-- JUMBOTRON -->
<div class="container">
	<div class="jumbotron">
	  <h1>HOW IT WORKS</h1>
	  <p>The 4T's</p>
	  <%= render partial: 'layouts/d3piechart', class: 'd3piechart' %> 
	  	<ul>
	  		<li>Post TRASH</li>
	  		<li>Find TREASURE</li>
	  		<li>Barter TRADE</li>
	  		<li>Enjoy TRIUMPH</li>
	  	</ul>
	  <button class="btn btn-primary btn-lg" id="user_action1"><%= link_to "Sign Up", new_user_registration_path %></button>
	</div>
</div>

<div id="button_bar">
	<a href="#" class="btn btn-primary">Primary</a>
	<a href="#" class="btn btn-success">Success</a>
	<a href="#" class="btn btn-info">Info</a>
	<a href="#" class="btn btn-warning">Warning</a>
	<a href="#" class="btn btn-danger">Danger</a>
</div>
<!-- USERS INDEX -->
<!-- <div class="container">
	<div id="row">
		<div class="col-md-4">
			<%# @users.each do |u| %>
				<ul>
					<h4>First Name</h4>
					<li><%#= u.firstname %></li>
					<h4>Last Name</h4>
					<li><%#= u.lastname %></li>			
					<h4>Email</h4>
					<li><%#= u.email %></li>
					<!-- 	<h4>Email</h4> -->
					<!-- 	<li><#%= u.email %></li> -->
					<!-- 			<h4>Rating</h4> -->
					<!-- <li> --><%#= u.rating %><!-- </li> -->
<!-- 				</ul> -->
			<%# end %>
<!-- 		</div>
	</div>
</div> -->

<!-- MARKETPLACE -->
	<div class="container">
	<%= render partial: 'layouts/marketplace' %>

	</div>


