<h1>See Individual Item!</h1>

<!-- 	<ul>
		
			<%#= form_for @item do |i| %>
				<li><%#= i.label :name %>
				<%#= @item.name %><br>
				<li><%#= i.label :description %>
				<%#= @item.description %><br>
				<li><%#= i.label :condition %>
				<%#= @item.condition %><br>
				<li><%#= i.label :est_value %>
				<%#= @item.est_value %><br>
				<li><%#= i.label :willing_to_trade_for %>
				<%#= @item.willing_to_trade_for %><br>
			<#% end %>

	</ul> -->

<%#= date_select('event', 'date') %><br><br>

<!-- <h1>GA End :(</h1> -->
<%#= distance_of_time_in_words(Time.now, 'October 31st, 2014') %><br>


<br>
<%#= highlight('The quick brown fox', ['The']) %>
<!-- <p>The quick brown fox</p> -->