/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

// MAIN CONTAINER
#mainmain {
	max-width: 100%;
	overflow: hidden;	
}

// NAV BAR STYLING
.navbar {
	// background-color: #34A7EA;
}
#welcome_tag {
	padding-top: 14.5px;
	padding-bottom: 9.5px;	
	margin-right: 4px;
	color: white;
}
.navbar-right {
	padding-right: 15px;
}

// JUMBOTRON
.jumbotron button a {
	color: white;
}

// BUTTON BAR
#button_bar {
	text-align: center;
	padding-bottom: 9.5px;
}

// MAIN BODY STYLING
body {
	padding-top: 0px;
}

// _MARKETPLACE STYLING
#item_marketplace
{
	list-style-type: none;
	margin: 12px;
}
#item_marketplace #item_label {
	font-size: 11px;
	padding: 2px;
}
// MARKETPLACE THUMBNAIL STYLING ON HOVER
.selected_thumb {
	background: #EEEEEE !important;
	border-radius: 50px !important;
}

// USER PROFILE SHOW PAGE 
#main_user_container {
	background-color: #EEEEEE;
	border-radius: 5px;
}
// EDIT PROFILE PAGE
#edit_profile {
	margin-top: 30px;
}
#edit_profile div {
	margin: 4px;
}
#email_box {
	margin-left: 25px;
}
#lastname_box {
	margin-left: 2px;
}
// ITEMS PROFILE SHOW
.items_users_show {
	padding: 0;
  list-style-type: none;
}
// ITEMS CAROUSEL 
#slideshow {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.slide {
	width: 500px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
}

// WEBKIT TEST
@-webkit-keyframes rotate {
from { -webkit-transform: rotate(0deg);
}
to { -webkit-transform: rotate(360deg);
}
}
.jumbotron img{ -webkit-animation-name: rotate; -webkit-animation-duration: 90s; -webkit-animation-iteration-count: infinite; -webkit-transition-timing-function: linear;
	float: right;
	margin-top: -200px;
}

// D3 PIE CHART
#pieChart {
	z-index: 0;
}