/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

// NAV BAR STYLING
.navbar {
	// padding-bottom: 2px;
}
#welcome_tag {
	padding-top: 11.5px;
	padding-bottom: 9.5px;	
	margin-right: 4px;
}
.navbar-right {
	padding-right: 15px;
}

// JUMBOTRON
.jumbotron button a {
	color: white;
}

// MAIN BODY STYLING
body {
	padding-top: 30px;
}

// _MARKETPLACE STYLING
#item_marketplace
{
	list-style-type: none;
	margin: 12px;
}
#item_marketplace #item_label {
	font-size: 11px;
	padding: 2px;
}

// EDIT PROFILE PAGE
#edit_profile {
	margin-top: 30px;
}
#edit_profile div {
	margin: 4px;
}
#email_box {
	margin-left: 25px;
}
#lastname_box {
	margin-left: 2px;
}

